<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/meta.ejs %> 
        <script src="/js/bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    </head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <% include partials/header.ejs %> 
  <div class="section upload-main">
      <!-- <div class="float-icons">
        <div class="session-info">
          <div class="sess">
             <span id="sess-uid"><i class="fa fa-plug" aria-hidden="true"><%= data._id %> </i></span>
          </div>
        </div>
      </div> -->
      <span id="sess-uid"><i class="fa fa-plug icon" aria-hidden="true"></i><%= data._id %></span>
      <div id="fixed-social">
          <div>
            <a href="#" class="fixed-facebook" target="_blank">
              <i class="fa fa-user"></i>
              <span id="clients-count"> <%= clients_count %></span> 
            </a>
            
          </div>
        </div>
      <div class="container">
          <div class="bg"></div>
          <h4 class="section-heading">Connect another device by providing your unique code- <span id="uid"><%= data.code %> </span></h4>
          <!-- <div class="client">
              <i class="fa fa-user icon" aria-hidden="true"></i>Connections: <span id="clients-count"><%= clients_count %></span>
              <span id="sess-uid"><i class="fa fa-plug icon" aria-hidden="true"></i>Sesion: <%= data._id %> </span>
          </div> -->
          <form class='connection-files'>
                 <textarea id="text-area" name="text" class="u-full-width">Send files, links, texts, etc</textarea>
                 
                <label for="file-input" class="custom-btn">
                    <i class="fa fa-paperclip icon"></i><span>FILE</span>
                </label>
                <input id="file-input" name="sessionFile" style="display: none;" type="file"/>
                <button type="submit" class="button-primary send-data"><i class="fa fa-arrow-circle-right icon"></i><span><div class="lds-facebook"><div></div><div></div><div></div></div>SEND</span></button>
          </form>
      </div>  
      <div class="container files-container">
          <!-- <div class="row">
            <div class="one-half columns">
                <h3>A really cute cat.jpeg</h3>
                <span>3mb</span>
                <a class="button" href="/">Download</a>
            </div>
          </div>
          <div class="row">
              <div class="one-half columns">
                  <h3>John Doe Resume.doc</h3>
                  <span>1mb</span>
                  <a class="button" href="/">Download</a>
              </div>
            </div> -->
        </div>   
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>